*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html ,body
{
    width: 100%;
    height: 100%;
}
body
{
    background: #091921;
    font-family: sans-serif;
}
.buttons-container
{
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 395px;
    height: 100px;
    border-radius: 45px;
    background: #091921;
    box-shadow: inset 0 0 2px 2px rgba(0,0,0,0.63);

}
ul
{
    list-style: none;
    width:inherit;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}
ul li
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1px;
    height: 90px;
    width: 95px;
    background: #091921;
    box-shadow: 0 15px 20px 0 rgba(0,0,0,0.37);
    transition: all 0.5s;
    border-top: 1px solid #122135;
}
ul li:nth-of-type(1)
{
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
}

ul li:last-of-type
{
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}

ul li:hover
{
    cursor: pointer;
}
ul li a
{
    display: inline-block;
    color: gray;
    text-decoration: none;
    font-size: 40px;
    transition: all .5s;
}
.active
{
    background: #091921;
    border-top: none;
    border-bottom: 1px solid #122135;
    box-shadow: inset 0 0 10px 1px rgba(0,0,0,0.91);
}
.active-text
{
    color: #ff105e;
    text-shadow: 0 0 8px rgba(252,17,95,0.541);
}














